* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  color: rgb(0, 0, 0);
}

button {
  background-color: rgb(0, 0, 0, 0);
  color: white;
}

button + button {
  padding-left: 2vh;
}

#menu_lateral {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 60vh;
  padding-bottom: 15vh;
  text-align: center;
}

.barra_superior {
  background-image: linear-gradient(to right, #fd2c73, #ff5230);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 39vh;
  height: 5vh;
  padding: 2vh;
}

.botao_perfil button {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 18vh;
  height: 4.5vh;
  border-radius: 3.2vh;
  font-size: 1.4vh;
  padding: 0;
  border: 0;
  background-color: rgb(0, 0, 0, 0.15);
}

.botao_perfil span {
  padding-left: 1vh;
}

.logo_perfil img {
  height: 4vh;
  width: 4vh;
  border-radius: 100%;
}

.botoes_superiores button {
  height: 4.5vh;
  width: 4.5vh;
  border-radius: 100%;
  border: 0;
  background-color: rgb(0, 0, 0, 0.15);
  font-size: 0;
  padding: 0;
}

.botoes_superiores img {
  width: 3vh;
  height: 3vh;
}

.opcoes_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1vh;
  padding-top: 1.3vh;
  padding-right: 18vh;
  font-size: 1.1vh;
  padding-left: 2vh;
}

.alinhamento_retangulo_texto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.retangulo_colorido {
  height: 20vh;
  width: 14vh;
  background-image: linear-gradient(to right, #fd2c73, #ff5230);
  border-radius: 1.3vh;
  margin-bottom: 2.5vh;
}

.texto_menu_lateral {
  padding-left: 3vh;
  padding-right: 3vh;
  font-size: 2vh;
  padding-left: 7vh;
  padding-right: 7vh;
}

.texto_menu_lateral p {
  padding-top: 1.5vh;
  color: #7b7d80;
}

#pagina_interacao {
  background-color: #f0f2f4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding-left: 10vh;
  padding-right: 10vh;
  align-items: center;
}

.posicao_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}

.card_usuario {
  display: flex;
  flex-direction: column;
  color: white;
  width: 40vh;
  position: relative;
}

.foto_texto {
  position: relative;
}

.foto_perfil_usuario img {
  height: 60vh;
  width: 40vh;
  align-items: center;
  border-top-left-radius: 1vh;
  border-top-right-radius: 1vh;
}

.informacoes_basicas {
  position: absolute;
  bottom: 1vh;
  padding-bottom: 2vh;
}

.nome_idade {
  display: flex;
  flex-direction: row;
  width: 40vh;
  line-height: 0;
  font-size: 2vh;
  padding-left: 2vh;
}

.nome_idade h2 {
  font-weight: 700;
}

.idade {
  padding-left: 1vh;
}

.idade h2 {
  font-weight: 350;
}

.info_online_curso_periodo {
  display: flex;
  flex-direction: column;
  padding-bottom: 1vh;
  padding-top: 3vh;
  padding-left: 2vh;
}

.info_online_curso_periodo p {
  margin: 0;
  font-size: 2vh;
  display: flex;
  padding-top: 1vh;
}

.online {
  display: flex;
  flex-direction: row;
  gap: 0.6vh;
  align-items: center;
}

.online p {
  font-size: 1.5vh;
  padding: 0;
}

.green_dot {
  height: 0.8vh;
  width: 0.8vh;
  background-color: #2ae580;
  border-radius: 50%;
  display: inline-block;
}

.botoes_card {
  background-color: rgb(0, 0, 0);
  border-radius: 1vh;
  border-color: rgb(0, 0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 2vh;
  padding-right: 2vh;
  padding-bottom: 2vh;
  padding-top: 2vh;
  position: absolute;
  bottom: -7vh;
  width: 36vh;
}

.botoes_card button {
  width: 6.5vh;
  height: 6.5vh;
  border-radius: 100%;
  padding: 1vh;
}

.botoes_card img {
  width: 3.5vh;
  height: 3.5vh;
}

.botao_return {
  border-color: #e9ebee;
}

.botao_x {
  border-color: #c62c1e;
}

.botao_estrela {
  border-color: #30f3ef;
}

.botao_coracao {
  border-color: #2df187;
}

.botao_raio {
  border-color: #ba52f5;
}

.instrucoes_inferiores {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  font-size: 1.1vh;
  line-height: 0;
  margin-bottom: 3vh;
  color: #969ca3;
  gap: 2vh;
  align-items: center;
}

.instrucoes_inferiores button {
  height: 2.5vh;
  width: 9.5vh;
  border-radius: 3.2vh;
  background-color: #b0b5bb;
  font-size: 1.2vh;
  border: 0;
  padding: 0;
  font-weight: 750;
}

.instrucoes_inferiores img {
  height: 2vh;
  width: 2vh;
  vertical-align: middle;
  filter: invert(67%) sepia(9%) saturate(225%) hue-rotate(172deg)
    brightness(91%) contrast(92%);
}

.posicao_comando_proxima_foto {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5vh;
  vertical-align: middle;
}

.proxima_foto_rodape {
  height: 1.5vh;
  width: 6vh;
  background-color: rgb(0, 0, 0, 0);
  border: 1px solid;
  border-radius: 0.5vh;
  vertical-align: middle;
}
